.jumbotron {
	
	background-image: url("../images/bg.jpg")  !important;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white;
	text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;

}

.recentImage {

	float: left;
	margin-right: 10px;


}